attrs==23.1.0
catkin-pkg==1.0.0
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
distro==1.8.0
docutils==0.20.1
droneload @ git+https://github.com/Hugo-dgn/droneload@17fc8bd4193b75a3b93dddcfc63f698bf49020ca
exceptiongroup==1.1.1
filelock==3.12.0
fonttools==4.39.3
importlib-resources==6.0.1
iniconfig==2.0.0
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.1
numpy==1.24.0
opencv-python==4.7.0.72
packaging==23.1
Pillow==9.5.0
pluggy==1.0.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
PyYAML==6.0.1
pyzbar==0.1.9
rospkg==1.5.0
scipy==1.10.1
six==1.16.0
sympy==1.11.1
tomli==2.0.1
typing_extensions==4.5.0
zipp==3.16.2
